/* 
    Color pallete: 
    https://colorhunt.co/

*/

body {
    background-color: #7b7c7e;
    color: #ffffff;
    font-family: 'Montserrat';
    
}

form {
    padding-top: 10px;
    width: 60vw;
    margin: 0 auto;
    min-width: 300px;
    max-width: 600px;
    font-family: 'Montserrat Light';
}

fieldset {
    background-color: #3b3b3b;
    border: none;
    margin-bottom: 24px;
}

fieldset:last-of-type {
    margin-bottom: 0px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

input, textarea, select {
    display: block;
    width: 98.5%;
    margin: 0.5em 0px;
    background-color: #b4b4b4;
}

select {
    width: 100%;
}

input, select {
    padding: 0.15em;
}

.inline {
    display: inline; 
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: bottom;
}

.inline-checkmark {
    display: inline; 
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: auto;
}

.test {
    padding-top: 10%;
}

label {
    display: block;
    margin: 10px;
    margin-bottom: 1em;
}

label:last-of-type {
    display: block;
    margin-bottom: 0.9em;
}

.selection-header {
    display: block;
    margin-top: 10px;
    margin-bottom: -20px;
}

input[type="checkbox"] {
    margin: 0.5em;
}
input[type="checkbox"]:first-of-type {
    margin: 0.5em;
}

textarea, input {
    font-family: 'Montserrat Light';
    font-size: 13px;
}

input[type="submit"] {
    width: 40%;
    min-width: 120px;
    color:#ffffff;
    background-color: #3b3b3b;
    border-style: thin;
    border-color: #7b7c7e;
    margin: 30px auto;
    height: 2em;
    font-size: 1.2rem;
    font-weight: bold;
}
