main {
    height: fit-content;
}

h1 {
    text-align: center;
    font-family: Poppins;
    font-size: 7.5vw;
}

p {
    padding: 0 0;
    text-align: center;
    font-family: Poppins;
    font-size: 5vw;
    font-weight: 600;
}

.logoubiuv {
    margin: 10vh auto 20vh auto;
    text-align: center;
}

.logouv {
    width: 50vw;
    max-width: 300px;
}

.logoubiuv h1 {
    text-align: center;
    font-family: Poppins;
    font-size: 10vw;
}

.centerbutton {
    text-align: center;
    margin: 100px auto;
}

.button {
    background-color: rgb(2, 2, 2);
    border: none;
    color: white;
    text-align: center;
    border-radius: 5vw;
    height: 10vw;
    width: 50vw;
    vertical-align: middle;
    margin: 0 auto;
}

.button p {
    font-weight: 600;
    text-decoration: underline;
    margin: 0;
}