main {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
}

h1 {
    text-align: center;
    font-size: 3vh;
    margin: 0;
}

p {
    padding: 0 0;
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
}

.logo-container {
    display: flex;
    margin: 10vh auto 3vh auto;
}

.logo-container .logouv {
    height: 12vh;
    margin-right: 3vw;
}

.logo-container .part1 {
    display:flex;
    align-items: center;
    justify-content: end;
    width: 45vw;
    height: 12vh;
    text-align: end;
}

.logo-container.part2 {
    display:flex;
    align-items: center;
    width: 45vw;
    height: 12vh;
}

.logo-container h1 {
    /* Center the text inside the div */
    display: flex;
    align-items: center;
    height: 12vh;
    font-size: 4vh;
    font-weight: 500;
}

.icon-people-container {
    text-align: center;
    margin-bottom: -1vh;
}

.icon-people-container .icon-people {
    height: 20vh;
}


.centerbutton {
    text-align: center;
    margin: 7vh auto;
}

.button {
    background-color: rgb(2, 2, 2);
    border: none;
    color: white;
    text-align: center;
    border-radius: 2.5vh;
    height: 5vh;
    width: min(70vw, 50vh);
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 6.5vh;
}

.button p {
    font-weight: 620;
    text-decoration: underline;
    margin: 0;
}