body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logoubiuv {
    position: relative;
}

.abi {
    position: relative;
    text-align: center;
    top: 13px;
    font-size: 30px;
}

.main {
    text-align: center;
}

.logouv {
    width: 200px;
}

.marca {
    background-color: #0056b3;
    font-size: 16px;
    position: relative;
    width: 180px;
    height: 40px;
    top: 7px;
    left: 1415px;
    padding-top: 18px;
    
}

.enlace { 
    color: #ffffff;
}

.admin {
    width: 400px;
    height: auto;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    border-radius: 25px;
}

.estudi {
    width: 400px;
    height: auto;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 15px;
}

.invi {
    width: 400px;
    height: auto;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 15px;

}

.boton {
    background-color: #0056b3;
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

.boton:hover {
    background-color: #003d80;
}

#password {
    width: 300px;
    height: 30px;
    margin-bottom: 60px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

#username {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

