body {
    background: linear-gradient(to bottom, #0056b3, #00b3b3); 
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logoubiuv {
    position: relative;
}

.abi {
    position: relative;
    text-align: center;
    top: 13px;
    font-size: 30px;
}

.main {
    text-align: center;
}

.logouv {
    width: 200px;
}

.marca {
    background-color: #0056b3;
    font-size: 16px;
    position: relative;
    width: 180px;
    height: 40px;
    top: 7px;
    left: 1415px;
    padding-top: 18px;
    
}

.enlace { 
    color: #ffffff;
}

.admin {
    width: 400px;
    height: auto;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    border-radius: 25px;
}

.estudi {
    width: 400px;
    height: auto;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 15px;
}

.invi {
    width: 400px;
    height: auto;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 15px;

}

.input-container {
    position: relative;
    margin-bottom: 5px;
}

.input-icon {
    position: absolute;
    top: 36%;
    left: 70px;
    transform: translateY(-60%);
    width: 30px; 
    height: 30px; 
    background-repeat: no-repeat;
    background-size: cover;
}

.user-icon {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6lqpQj3oAmc1gtyM78oJCbTaDrD7Fj9NRlceOPDZiHA&s'); /* Ruta de tu imagen de usuario */
}

.input-iconn {
    position: absolute;
    top: 27%;
    left: 70px;
    transform: translateY(-60%);
    width: 33px; 
    height: 37px; 
    background-repeat: no-repeat;
    background-size: cover;
}

.password-icon {
    background-image: url('https://png.pngtree.com/png-vector/20191004/ourlarge/pngtree-lock-icon-png-image_1788630.jpg'); /* Ruta de tu imagen de contraseña */
}

input[type="text"],
input[type="password"] {
    padding-left: 40px; /* espacio d las imagenes */
    width: 300px; /* ancho */
    height: 40px; /* altura */
    font-size: 16px; /* tamaño d letre */
    border: 1px solid #ccc; /* borde */
    border-radius: 5px; /* bordes redondeados */
}

.boton {
    background-color: #0056b3;
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

.boton:hover {
    background-color: #003d80;
}

#password {
    width: 300px;
    height: 30px;
    margin-bottom: 60px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

#username {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

